.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    
    padding:50px;
}


h1{
    font-size: 50px;
    
}

.education{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    gap: 50px;
    padding-top: 50px;
}

.uni{
    display: flex;
    gap: 20px;
}

.uni img{
    width: 200px;
    height: 200px;
}

.uni-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}

.uni-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.about p,h4 {
    color: #4B5563;
} 

h3{
    font-size: 22px;
}

.scl{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.scl img{
    width: 200px;
    height: 200px;
}

.scl-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}

.scl-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

@media(max-Width:768px){
    
    .about-title{
        display: flex;
        align-items: center;
        height: fit-content;
    }
    
    h1{
        font-size: 25px;
    }

    p{
        font-size: 12px;
    }

    .uni img{
        height: 100px;
        width: 100px;
    }

    .scl img{
        height: 100px;
        width: 100px;
    }

    .education h3{
        font-size: 16px;
    }

    .education h4{
        font-size: 14px;
    }
}