.hero{
    display: flex;
    margin: 50px 170px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 80vh;
    
}

.hero img{
    width: 450px;
    height: 450px;
    aspect-ratio: 1/1;
    border-radius: 999px;
}

.hero-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    align-self: stretch;
}

.hero h1{
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(90deg, #DD00E9 20.02%, rgb(16, 112, 255) 25.96%, #DD00E9 46.63%, rgb(16, 112, 255) 66.35%, #FF22CF 81.73%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    color: #374151;
    font-size: 15px;
}

.hero-action{
    display: flex;
    flex-direction: row;
    gap: 13px;
}

.hero-resume{
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(267deg, rgb(16, 112, 255) 0.06%, #DD00E9 90.06%);
    color: white;
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
}

.hero-works{
    padding: 13px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgb(16, 112, 255);
    font-weight: 600;
    color: rgb(16, 112, 255);
    transition: 0.5s;
    cursor: pointer;
}

.hero-resume:hover{
    transform: scale(1.02);
}

.hero-works:hover{
    transform: scale(1.05);
    border: 2px solid #DD00E9;
    color: #DD00E9;
}

.hero-action a{
    text-decoration: none;
}