.hero{
    display: flex;
    margin: 50px 170px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 80vh;
    
}

.hero img{
    width: 450px;
    height: 450px;
    aspect-ratio: 1/1;
    border-radius: 999px;
}

.hero-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    align-self: stretch;
}

.hero h1{
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(90deg, #A4D665 0%, #6ECD99 47.12%, #479FC8 100%) ;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    color: #374151;
    font-size: 15px;
}

.hero-action{
    display: flex;
    flex-direction: row;
    gap: 13px;
}

.hero-resume{
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(90deg, #A4D665 0%, #6ECD99 47.12%, #479FC8 100%);
    color: white;
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
}

.hero-works{
    padding: 13px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #6ECD99;
    font-weight: 600;
    color: #6ECD99;
    transition: 0.5s;
    cursor: pointer;
}

.hero-resume:hover{
    transform: scale(1.02);
}

.hero-works:hover{
    transform: scale(1.05);
    border: 2px solid #479FC8;
    color: #479FC8;
}

.hero-action a{
    text-decoration: none;
}

@media(max-Width:768px){

   .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 30px;
    height: fit-content;
   }

   .hero img{
    width: 200px;
    height: 200px;
    aspect-ratio: 1/1;
    border-radius: 999px;
    }
    .hero h1{
    font-size: 25px;
    font-weight: 700;
    }

    .hero-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    }

    .hero-right h2{
        font-size: 16px;
    }

    .hero-right p{
        font-size: 12px;
    }

    .hero-action{
        padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
    
    }


    
}