.title{
    display: flex;
    align-items: center;
    margin: 50px 100px;
    height: fit-content;
}

.title p{
    color: #4B5563;
}

.item img{
    width: 100px;
    height: 100px;
}

.tools{
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    gap:82px;
    align-items: center;
    
}

.item{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 5 - 110px);
    background: white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    gap: 10px;
    cursor: pointer;
}

.item:hover{
    transform: scale(1.03);
    box-shadow: 3px 4px 10px 0 #479FC8;
    
}

.name{
    font-weight: 600;
    color: #4B5563;
}

@media(max-Width:768px){
    .title{
        margin: 20px 30px;
        height: fit-content;
        align-items: center;
    }

    .item img{
        width: 50px;
        height: 50px;
    }

    .item{
       width: calc(100% / 3 - 60px);
    }

    .tools{
        gap: 25px;
        column-gap: 28px;
        padding-top: 50px;
    }
    
    .name{
        font-size: 14px;
    }
 
}
