.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 100px;
}

.navbar h1{
    font-size: 40px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
    font-size: 20px;
    color: #111827;
    font-weight: 700;
}

.nav-connect{
    padding: 15px 30px;
    border-radius: 10px;
    background: linear-gradient(269deg, #5C4998 20.06%, #DF2483 101.74%);
    color: white;
    cursor: pointer;
    font-weight:600;
    font-size: 16px;
    transition: 0.5s;
}

.nav-connect:hover{
    transform: scale(1.02);
}

.anchor-link{
    text-decoration: none;
    color: #111827;
    transition: 0.3s;
}

.anchor-link:hover{
    color: #DF2483;
}

.nav-menu-close, .nav-menu-open{
    display: none;
}

@media(max-Width:768px){

    .navbar{
        margin: 20px 50px;
    }

    .nav-connect{
        display: none;
    }

    .nav-menu-open{
        display: block;
        position: fixed;
        right: 30px;
        width: 20px;
    }

    .nav-menu-close{
        display: block;
        position: relative;
        top:30px;
        left: 290px;
        width: 20px;
    }

    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0px;
        gap: 30px;
        background-color: #f0f0f0;
        height: 100%;
        width: 350px;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
        
    }

    .nav-menu li{
        padding-left: 40px;
        font-size: 16px;
    }

    .nav-menu-close{
        width: 20px;
        padding-bottom: 100px;
    }

    .navbar h1{
    font-size: 20px;
}
}
