.footer{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px ;
    background: #111827;
    color: white;
}

.footer-left{
    display: flex;
    align-items: center;
}

.footer-right{
    display: flex;
    gap: 20px;
    
}

.social-link i{
    font-size: 40px;
    transition: 0.3s;
}

.social-link i:hover{
    color: #A4D665;
}

